/* Reset some default styles for consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background: #739C3D;
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #9CD84F;
}

::selection {
  background: #8CC63F;
  color: #000;
}

.clear {
  clear: both;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('../assets/fonts/RobotoCondensed-Regular.woff') format('woff');
  /* Legacy Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-Italic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../assets/fonts/RobotoCondensed-Italic.woff') format('woff');
  /* Legacy Browsers */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
    /* Modern Browsers */
    url('../assets/fonts/RobotoCondensed-BoldItalic.woff') format('woff');
  /* Legacy Browsers */
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/RobotoCondensed-Bold.woff2') format('woff2'),
    /* Modern Browsers */
    url('../assets/fonts/RobotoCondensed-Bold.woff') format('woff');
  /* Legacy Browsers */
  font-weight: bold;
  font-style: normal;
}

/* Apply basic styling to the body */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #1D212C;
  color: #fff;
  line-height: 1.6;
  font-size: 18px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* Style the header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 40px;
  height: 100px;
  background: rgb(29 33 44 / 50%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  header {
    height: 80px;
    padding: 0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
}

header .container {
  position: relative;
}

/* Style the navigation menu */
nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 0 5px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  padding: 3px 1px;
}

nav ul li a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #8CC63F;
}

@media screen and (max-width: 1024px) {
  nav ul li {
    padding: 10px;
    font-size: 14px;
  }

  .navMenu ul li a.active::after {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  nav ul li {
    padding: 10px 5px;
    font-size: 13px;
  }
}

.navMenu {
  position: absolute;
  top: 27px;
  left: 200px;
}

@media screen and (max-width: 1024px) {
  .navMenu {
    top: 0px;
    left: auto;
    right: 0px;
    width: 280px;
    z-index: 1;
    padding-top: 80px;
  }

  .navMenu .menu-button {
    display: block;
  }

  .navMenu ul {
    display: none;
    border-radius: 10px;
    overflow: hidden;
  }

  .navMenu li {
    display: block;
    text-align: center;
    padding: 0;
    background: #101219;
  }

  .navMenu li a {
    display: block;
    width: 100%;
    padding: 15px;
  }
}

.navLang {
  position: absolute;
  top: 27px;
  right: 0px;
}

@media screen and (max-width: 1280px) {
  .navLang {
    right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .navLang {
    left: auto;
    right: 75px;
    z-index: 2;
  }

  .navLang ul li {
    text-align: center;
    padding: 15px 9px;
  }
}

@media screen and (max-width: 640px) {
  .navLang ul li {
    padding: 15px 3px;
  }
}

.menu-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background: #101219;
  border-radius: 10px;
  transition: all .13s;
}

@media screen and (max-width: 1024px) {
  .menu-button {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .menu-button {
    right: 5px;
  }
}

.menu-button.expand {
  background: #8CC63F;
}

.menu-button span {
  background: #fff;
  width: 25px;
  height: 2px;
  position: absolute;
  top: 30px;
  right: 17px;
  transition: background .3s;
}

.menu-button span:before,
.menu-button span:after {
  content: '';
  background: #fff;
  width: 25px;
  height: 2px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.menu-button span:before {
  top: -8px;
  transition-property: top, transform;
}

.menu-button span:after {
  top: 8px;
  transition-property: top, transform;
}

.menu-button.expand span {
  background: none;
  transition-delay: 0s;
}

.menu-button.expand span:before {
  top: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #000;
}

.menu-button.expand span:after {
  top: 0px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #000;
}

.menu-button.expand span:before,
.menu-button.expand span:after {
  transition-delay: 0s, 0.3s;
}

.menu-button.expand+ul {
  display: block;
}

nav a {
  transition: all .13s;
}

nav a:hover {
  color: #8CC63F;
}


/* Apply a basic style to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Apply styling to paragraphs */
p {
  margin: 0 0 20px 0;
}

/* Add some spacing to top and bottom of elements */
.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

/* Center-align text */
.text-center {
  text-align: center;
}

.logo {
  width: 120px;
  position: absolute;
  top: 13px;
  left: 37px;
}

.logo img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .logo {
    left: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    top: 17px;
    width: 100px;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    top: 20px;
    left: 13px;
    width: 90px;
  }
}

.section {
  margin-bottom: 100px;
}

.dark-section {
  background: rgb(16 18 25 / 50%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 60px 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 980px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section {
    margin-bottom: 50px;
  }
}

.body-content {
  background: url('../assets/images/bg-pattern.svg') center left no-repeat;
}

@media screen and (max-width: 1024px) {
  .body-content {
    margin-top: 40px;
  }
}

.body-content .container {
  color: #fff;
}

.hero-section {
  margin-top: 100px;
  height: 550px;
}

.hero-section.hero-bottom {
  height: 340px;
  min-height: 340px;
}

.hero-section.hero-top {
  background: url('../assets/images/map.gif') top right no-repeat;
  background-size: 60%;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    height: auto;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .hero-section.hero-top {
    background-position-y: 40px;
    background-size: 90%;
    padding-top: 50%;
  }
}

@media screen and (max-width: 640px) {
  .hero-section {
    min-height: 350px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }

  .hero-section.hero-bottom {
    min-height: 280px;
  }

  .hero-section.hero-top {
    background-position-y: 40px;
    background-position-x: center;
    background-size: 110%;
    padding-top: 57%;
  }
}

.nostrPurple {
  color: #9747FF;
}

.button {
  display: inline-block;
  padding: 14px 50px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #373737;
  font-size: 20px;
  background: #9CD84F;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
  transition: all .13s;
}

.button:hover {
  background: #304F00;
  color: #9CD84F;
}

.button.secondary {
  background: #304F00;
  color: #9CD84F;
  font-size: 18px;
}

.button.secondary:hover {
  background: #9CD84F;
  color: #304F00;
}

.button.secondary.socials {
  padding: 14px;
  border-radius: 43px;
  margin: 0 15px;
}

.button.secondary.socials:hover img {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

@media screen and (max-width: 1024px) {

  .button,
  .button.secondary {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .button.secondary.socials {
    margin: 0 5px;
  }
}

h1 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.main-heading {
  padding-top: 2em;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 52px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 44px;
  }

  .main-heading {
    padding-top: 1em;
    max-width: 70%;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 38px;
  }

  .main-heading {
    max-width: 100%;
  }
}

h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  h2 {
    font-size: 58px;
  }
}


@media screen and (max-width: 1024px) {
  h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 38px;
  }
}

h3 {
  position: relative;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (max-width: 1280px) {
  h3 {
    font-size: 32px;
  }
}


@media screen and (max-width: 1024px) {
  h3 {
    font-size: 26px;
  }
}

.column-image {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 70%;
}

@media screen and (max-width: 640px) {
  .column-image {
    margin-bottom: 0px;
    max-width: 60%;
  }
}

.subheading {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .subheading {
    font-size: 18px;
  }
}

.textLink {
  text-decoration: underline;
}

.textLink:hover {
  color: #9CD84F;
}

#socials {
  text-align: center;
}

.footer-menu li {
  display: inline;
  padding: 0 10px;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  .footer-menu li {
    font-size: 15px;
  }
}

.copyright {
  position: relative;
  padding: 90px 0;
  margin-top: 80px;
  padding-top: 160px;
  font-size: 16px;
  color: #92949A;
  background: -webkit-linear-gradient(0deg, rgba(16, 18, 25, 1) 17%, rgba(16, 18, 25, 0) 100%);
  background: linear-gradient(0deg, rgba(16, 18, 25, 1) 17%, rgba(16, 18, 25, 0) 100%);
}

.scroll-up {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border-radius: 33px;
  background: #304F00;
  color: #8CC63F;
  text-align: center;
  line-height: 76px;
  font-size: 16px;
  font-weight: 700;
  transition: all .13s;
}

@media screen and (max-width: 640px) {
  .copyright {
    padding: 60px 0;
    font-size: 14px;
  }

  .scroll-up {
    top: 0px;
  }
}

.scroll-up:hover {
  margin-top: -4px;
}

.scroll-up:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 24px;
  width: 19px;
  height: 19px;
  background: url('../assets/images/top-icon.svg');
}

.animate-me {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

/* Add more CSS styles for the animated state as needed */
.animate-me.animate-in {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 640px) {
  .flex-second {
    order: 2
  }
}

.sponsor-banner {
  position: relative;
  background: rgb(16 18 25 / 60%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 20px;
  width: 1000px;
  height: 460px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 0;
  z-index: 1;
}

.sponsor-banner .row {
  position: relative;
  height: 50%;
}

.sponsor-banner::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  height: 2px;
  background: #92949A;
}

.sponsor-banner .grid {
  justify-content: center;
}

.sponsor-banner .column-image {
  position: absolute;
  top: 50%;
  left: 110px;
  width: 260px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sponsor-banner .column-image.os {
  width: 120px;
}

.sponsor-text {
  position: absolute;
  top: 50%;
  right: 80px;
  left: 54%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #8CC541;
  font-size: 26px;
  text-align: left;
  line-height: 1.2;
}


@media screen and (max-width: 1024px) {
  .sponsor-banner {
    width: 90%;
  }

  .sponsor-text {
    right: 20px;
    font-size: 22px;
  }

  .sponsor-banner .column-image {
    left: 11%;
    width: 190px;
  }
}

@media screen and (max-width: 640px) {
  .sponsor-banner {
    height: 500px;
  }

  .sponsor-banner .column-image {
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .sponsor-text {
    top: auto;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    font-size: 18px;
  }
}

#footer {
  position: relative;
  padding-top: 60px;
  background: url('../assets/images/footer-bg.svg') bottom center no-repeat;
}

#footer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: -webkit-linear-gradient(0deg, rgb(29 33 44 / 0%) 17%, rgb(29 33 44 / 100%) 100%);
  background: linear-gradient(0deg, rgb(29 33 44 / 0%) 17%, rgb(29 33 44 / 100%) 100%);
}

@media screen and (max-width: 640px) {
  .sponsor-banner::after {
    display: none;
  }
}

/* FAQ Section */
.faq-section h2 {
  margin-bottom: 40px;
}

.faq-list {
  max-width: 900px;
}

.faq-item {
  background: rgb(16 18 25 / 50%);
  border-radius: 10px;
  margin-bottom: 12px;
}

.faq-question {
  position: relative;
  padding: 20px 60px 20px 24px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  list-style: none;
  transition: color .13s;
}

.faq-question::-webkit-details-marker {
  display: none;
}

.faq-question::marker {
  content: '';
}

.faq-question::after {
  content: '+';
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  font-weight: 400;
  color: #8CC63F;
}

details[open] .faq-question::after {
  content: '\00d7';
}

.faq-question:hover {
  color: #8CC63F;
}

.faq-answer {
  padding: 0 24px 20px 24px;
  color: #ccc;
  line-height: 1.7;
}

.faq-answer p {
  margin-bottom: 12px;
}

.faq-answer p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .faq-question {
    font-size: 17px;
    padding: 16px 50px 16px 18px;
  }

  .faq-question::after {
    right: 18px;
  }

  .faq-answer {
    padding: 0 18px 16px 18px;
    font-size: 15px;
  }
}